Source: machkkr
Section: non-free
Priority: extra
Maintainer: Synge Todo <wistaria@phys.s.u-tokyo.ac.jp>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: <http://kkr.phys.sci.osaka-u.ac.jp>

Package: machkkr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MachKKR (previously called as AkaiKKR or Machikaneyama2002)
